*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgba(17, 72, 124, 0.932);
    color: aliceblue;
}

.header{
   text-align: center;

}

.main img{
    height: 300px;
    width: 400px;
    object-fit: cover;
}

.main{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}